* {
    font-family: 'Montserrat', sans-serif; 
}

body {
    background: #000;  
        overflow-x: hidden;    
}
 
.btn-read-more {
    transition: all 0.3s ease;
} 


.form-control:focus {
    border-color: transparent;
    box-shadow: none;
}

.btn,
.btn-read-more {
    transition: all 0.3s ease;
} 

.btn:hover,
.btn-read-more:hover {
    transform: scale(1.05);
}

  

.section-padding {
    padding: 100px 0;
}

.carousel-item {
    height: 100vh;
    min-height: 350px;
}

.carousel-caption {
    bottom: 220px;
    z-index: 2;
}

.carousel-caption h5 {
    font-size: 45px;
    text-transform: uppercase;
    letter-spacing: 2px;
    margin-top: 25px;
}

.carousel-caption p {
    width: 50%;
    margin: auto;
    font-size: 18px;
    line-height: 1.9;
}

.carousel-inner::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.7);
    z-index: 1;
}

.navbar-nav a {
    font-size: 15px;
    text-transform: uppercase;
    font-weight: 500;
}

.navbar-light .navbar-brand {
    color: #000;
    font-size: 25px;
    text-transform: uppercase;
    font-weight: 700;
    letter-spacing: 2px;
}

.navbar-light .navbar-brand:focus,
.navbar-light .navbar-brand:hover {
    color: #000;
}

.navbar-nav .navbar-link {
    color: #000;
}

.w-100 {
    height: 100vh;
}  

#services {
    background-color: #ffffff;
    padding: 50px 0; 
} 

.services .card-body i{ 
    font-size: 40px;
} 
 
#portfolio { 
    background-color: #ffffff;
    padding: 50px 0; 
} 
 
.Our-portfolio { 
   text-align: center;
} 
 
#team {
    background-color: whitesmoke; 
} 

.team .card-body i{ 
    font-size: 20px;
} 
 
.portfolio .card{ 
    box-shadow: 15px 15px 40px rgba(0,0,0,0.15);
} 

.team .card{ 
    box-shadow: 15px 15px 40px rgba(0,0,0,0.15);
}  
 
.team .card {
    height: 100%;
}

.team .card-body {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.team .card-title {
    margin-top: 20px;
}
 
.team .card-body img {
    height: 350px; /* Adjust the height as needed */
    width: auto; /* Ensure the width adjusts proportionally */
}


#contact { 
    background-color: white;
}   
 
@media only screen and (min-width: 768px) and (max-width: 991px){ 
    .carousel-caption{ 
        bottom: 370px;
    } 
    .carousel-caption p{ 
        width: 100px;    
    } 
    .card { 
        margin-bottom: 30px; 
    } 
} 
 
.about-section-padding {
    background-color: #f8f9fa; 
    padding-top: 80px; 
    padding-bottom: 80px; 
}

.about-text {
    color: #333; 
}

.about-img img {
    border-radius: 10px; 
}
 
.about-img img {
    width: 100%;
    height: auto; 
}

 


@media only screen and (max-width: 767px) {
    .navbar-nav {
        text-align: center;
    }
    .carousel-caption {
        bottom: 125px;
    }
    .carousel-caption h5 {
        font-size: 17px;
    }
    .carousel-caption a {
        padding: 10px 15px;
    } 
    .carousel-caption p{ 
        width: 100%; 
        line-height: 1.6; 
        font-size: 12px;
    } 
    .about-text { 
        padding: 50px;
    } 
    .card{ 
        margin-bottom: 30px;
    }
}
 

